th#id.manage-column.column-id.column-primary{
    width: 40px;
}

th#edit.manage-column.column-edit {
    width: 100px;
}

.widefat td{
    vertical-align: inherit;
}

.quick-edit {
    display: none;
}

#save {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

#save:after {
    content: '|';
    padding-left: 5px;
}

#discard{
    color: grey;
}

#discard:after {
    content: '|';
    color: #0073aa;
    padding-left: 5px;
}

#delete{
    color: red;
}