th#id.manage-column.column-id.column-primary{
    width: 40px;
}

th#edit.manage-column.column-edit {
    width: 100px;
}

.widefat td{
    vertical-align: inherit;
}

.quick-edit {
    display: none;
}


#discard{
    color: grey;
}

#delete{
    color: red;
}

.toplevel_page_jt-portfolio-plugin img{
    width: 20px;
}